<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('libs'); -%>
    <title>Index</title>
    <script type="text/javascript" src="../public/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            Date.prototype.toDateInputValue = (function() {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0,10);
            });

            $('#end').val(new Date().toDateInputValue());
            $('#start').val(new Date("2019-01-01").toDateInputValue());

            loadGraphs();

            $('#start').on('change', function(){
                loadGraphs()
            })
            $('#end').on('change', function(){
                loadGraphs()
            })

            function loadGraphs(){
                var startDate = $('#start').val()
                var endDate = $('#end').val()
    
                $.ajax({
                    url: '/getstats/'+startDate,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        createDonutGraph(data);
                    },
                    error: function (err){
                        console.log(err);
                    }
                })
    
                $.ajax({
                    url: '/closed/'+startDate,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        createDiagrammePersonPerIssue(data);
                    },
                    error: function (err){
                        console.log(err);
                    }
                })
    
                $.ajax({
                    url: '/issues',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        createOpenPerDayBar(data);
                    },
                    error: function (err){
                        console.log(err);
                    }
                })
    
                $.ajax({
                    url: '/avg-time/'+startDate+'/'+endDate,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        createAvgBar(data);
                    },
                    error: function (err){
                        console.log(err);
                    }
                })
            }
            

            $('#issues').DataTable();
        })
    </script>
</head>
<body>
    <div class="container">   
        <h2>Issues gitlab</h2>
        <div class="divider"></div>
        <h4>Filtrer avec des dates</h4>
        <div class="divFiltre">
            <label for="start">Date de début:</label>

            <input type="date" id="start" name="trip-start" min="01-01-2019" max="07-05-2020" required>
    
            <label for="end">Date de fin:</label>
            
            <input type="date" id="end" name="trip-end" min="01-01-2019" max="07-05-2020" required>
           
        </div>
<!-- 
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m8 push-m2 ">
                <form action="/getstats" method="GET">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">/getStats</span>
                            <div class="row">
                                <div class="col s12 m6">
                                    <label for="name">Issues à partir du</label>
                                    <input class="datepicker" type="text" name="date">
                                </div>
                                <div class="col s12 m6">
                                </div>                            
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="waves-effect waves-light btn" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>         -->
        <div class="divider"></div>
        <h4>Statistiques</h4>
        <div id="donut-chart" style="height: 300px;"></div>
        <div class="divider"></div>
        <h4>Qui a fermé ?</h4>
        <div id="bar-closed" style="height: 300px;"></div>
        <div class="divider"></div>
        <h4>Liste des issues</h4>
        <table id="issues" class="display">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Création</th>
                    <th>Assigné</th>
                </tr>
            </thead>
            <tbody>
                <% for(let item of issues) {%>
                    <tr>
                        <td><%= item.title %></td>
                        <td><%= item.description %></td>
                        <td><%= item.state %></td>
                        <td><%= item.created_at %></td>
                        <td><%= item.assignee.username %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div class="divider"></div>
        <h4>Temps d'ouverture des tickets</h4>
        <div id="bar-average" style="height: 300px;"></div>

        <div class="divider"></div>
        <h4>Nombre d'issue ouvertes par jour</h4>
        <div id="bar-days" style="height: 300px;"></div>

    </div>
    <div style="padding-bottom: 100px;"></div>
    <script>
        M.Datepicker.defaults.format = 'yyyy-mm-dd'
        M.AutoInit()
    </script>    
</body>
</html>